body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Bagel";
  src: url('/public/font/BagelFatOne-Regular.ttf');
}
@font-face {
  font-family: "Rubi";
  src: url('/public/font/RubikBubbles-Regular.ttf');
}
@font-face {
  font-family: "GaeguR";
  src: url('/public/font/Gaegu-Regular.ttf');
}
@font-face {
  font-family: "NanumGothicR";
  src: url('/public/font/NanumGothic-Regular.ttf');
}